{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title animated pulse faster">
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h2>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
                {{- range .Pages.ByLength.Reverse -}}
                    <article class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title -}}
                        </a>
                        {{- with .Params.tags -}}
                            <div class="post-tags">
                                {{- range $index, $value := . -}}
                                    {{- if gt $index 0 }},&nbsp;{{ end -}}
                                    {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
                                    <a href="{{ $tag.RelPermalink }}">#{{ $tag.Title }}</a>
                                {{- end -}}
                            </div>
                        {{- end -}}
                    </article>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
    </div>
{{- end -}}
